/*------------------------------------*\
  Susy configuration
\*------------------------------------*/
$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$container-width: 60em;

$susy: (
  columns: $total-columns,
  gutters: $gutter-width / $column-width,
  column-width: $column-width,

  container: $container-width,
);

/*------------------------------------*\
  Base configuration
\*------------------------------------*/
* {
  @include box-sizing(border-box);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-size: 16px;
  background: $awhite;
}

.wrap {
  @include container;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  border: 0;
}

input,
textarea {
  border-radius: 3px;
  padding: 10px 15px;
}

/*------------------------------------*\
  Main Header
\*------------------------------------*/
.main-header {
  position: fixed;
  background: $ablue;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  border-bottom: 1px solid $awhite;
  a {
    color: $awhite;
  }
}

.logo {
  margin: 10px 0 0 0;
}

.logo-link {
  font-size: 36px;
  float: left;
}

.main-menu {
  position: relative;
  float: right;
  li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

/*------------------------------------*\
  Main Footer
\*------------------------------------*/
.main-footer {
  background: $awhite;
}