/*------------------------------------*\
  Colors
\*------------------------------------*/
$awhite: #ffffff;
$ablack: #000000;

$ablue: #1daabf;
$aablue: #21a5b9;
$text-blue: #1c8c9d;

$agreen: #affab3;
$aagreen: #3ecf9e;

$text-gb: #86aa9f;
$agrey: #c9cecc;