/*------------------------------------*\
  Miscellaneous
\*------------------------------------*/
.home-part,
.get-in-touch {
  background: $ablue;
}

.name-field,
.email-field {
  height: 50px;
}

.name-field {
  width: 340px;
  margin-right: 20px;
}

.email-field {
  width: 600px;
}

/*------------------------------------*\
  Home part
\*------------------------------------*/
.home-part {
  margin-top: 65px;
  padding-top: 70px;
  padding-bottom: 50px;
  p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: $awhite;
    text-align: center;
  }
}

.initiative-title {
  display: block;
  font-size: 40px;
  color: $agreen;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.btn-register-now {
  float: right;
}

.disclaimer-info {
  margin-top: 100px;
  display: block;
  color: $awhite;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

/*------------------------------------*\
  Who can
\*------------------------------------*/
.who-can {
  background: $awhite;
}
/*------------------------------------*\
  Responsibility
\*------------------------------------*/
.responsibility {
  background: $aagreen;
}

/*------------------------------------*\
  Get in Touch
\*------------------------------------*/
