/*------------------------------------*\
  Helpers
\*------------------------------------*/
.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*------------------------------------*\
  BTNs
\*------------------------------------*/
.btn {
  background: $aagreen;
  color: $awhite;
  text-transform: uppercase;
  margin: 20px 0;
}